{{template "header.html" .}}

<h1><span data-i18n="player">플레이어</span>: {{.taikoNo}}</h1>

<section>
    <h2 data-i18n="season_final_rating">시즌별 최종 레이팅</h2>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th data-i18n="season">시즌</th>
                    <th data-i18n="rating">레이팅</th>
                    <th data-i18n="rank">순위</th>
                </tr>
            </thead>
            <tbody>
                {{range .seasonRatings}}
                <tr>
                    <td>S{{.Season}}</td>
                    <td>{{printf "%.2f" .Rating}}</td>
                    <td>{{.Ranking}}</td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="3" data-i18n="no_season_record">시즌 기록이 없습니다.</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</section>

{{template "footer.html" .}}
