{{template "header.html" .}}

<h1>S{{.season}} #{{.session}} <span data-i18n="score_ranking">점수 랭킹</span></h1>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th data-i18n="rank">순위</th>
                <th data-i18n="taiko_no">태고 번호</th>
                <th data-i18n="score">점수</th>
            </tr>
        </thead>
        <tbody>
            {{range $index, $score := .scores}}
            <tr>
                <td>{{add $index 1}}</td>
                <td><a href="/player/{{$score.TaikoNo}}">{{$score.TaikoNo}}</a></td>
                <td>{{$score.Score}}</td>
            </tr>
            {{else}}
            <tr>
                <td colspan="3" data-i18n="no_data">데이터가 없습니다.</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
<div class="actions">
    <a href="/" class="btn secondary" data-i18n="back_to_home">홈으로</a>
</div>

{{template "footer.html" .}}
